# Drizzle
# Replace with your DB credentials!
DATABASE_URL="libsql://db-name-user.turso.io"
# A local DB can also be used in dev as well
# DATABASE_URL="file:local.db"
DATABASE_AUTH_TOKEN=""

ORIGIN=""

# Auth.js
# For production use 32 characters and generated with high entropy
# Generate with: openssl rand -base64 32
AUTH_SECRET=""

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
