# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Miscellaneous
/static/
/drizzle/
/build/
/.wrangler/
/.svelte-kit/

# Tauri
/src-tauri/**
!/src-tauri/tauri.conf.json
!/src-tauri/capabilities/**/*.json